@use "mixins" as *;
@use "default" as *;

.hero-section {
    position: relative;
    padding: 100px 16px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .hero-section__img {
        position: absolute;
        inset: 0;
        z-index: -2;
    }

    .hero-section__img {
        img {
            object-fit: cover;
            @include side-size(100%, 100%);
            border-radius: 0px 0px 50px 50px;
            opacity: 0.5;
        }
    }

    .hero-section__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 52px;

        .hero-section__title {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .hero-section__main-title {
                @include extended-font-definition(36px, 52px, 700, $lapis);
                box-shadow: 0px 4px 4px 0px #1F191900;
                text-align: center;
            }

            .hero-section__title_description {
                @include extended-font-definition(18px, 23px, 400, $lapis, Open Sans);
                text-align: center;
            }
        }

        .hero-section__button {
            padding: 16px 40px;
            border-radius: 10px;
            background: $mint;
            @include extended-font-definition(18px, 23px, 700, $white, Open Sans);
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .hero-section {
        align-items: flex-start;
        padding: 80px 20px;

        .hero-section__content {
            align-items: flex-start;

            .hero-section__title {
                align-items: flex-start;
                width: 75%;

                .hero-section__main-title {
                    text-align: left;
                    width: 90%;
                    @include short-font-definition(48px, 62px);
                }

                .hero-section__title_description {
                    @include short-font-definition(24px, 33px);
                }
            }

            .hero-section__button {
                padding: 24px 55px;
                @include short-font-definition(24px, 33px);
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .hero-section {
        align-items: flex-start;
        padding: 80px 40px;

        .hero-section__content {
            align-items: flex-start;

            .hero-section__title {
                align-items: flex-start;
                width: 75%;

                .hero-section__main-title {
                    @include short-font-definition(48px, 62px);
                    text-align: left;
                    width: 90%;
                }

                .hero-section__title_description {
                    @include short-font-definition(24px, 33px);
                    text-align: left;
                }
            }

            .hero-section__button {
                padding: 24px 55px;
                @include short-font-definition(24px, 33px);
            }
        }
    }
}

@media (min-width: 1440px) {
    .hero-section {
        align-items: flex-start;
        padding: 80px 150px 100px;

        .hero-section__content {
            align-items: flex-start;
            gap: 54px;

            .hero-section__title {
                align-items: flex-start;
                width: 75%;
                gap: 54px;

                .hero-section__main-title {
                    @include short-font-definition(64px, 86px);
                    text-align: left;
                    width: 90%;
                }

                .hero-section__title_description {
                    @include short-font-definition(24px, 33px);
                    text-align: left;
                }
            }

            .hero-section__button {
                @include short-font-definition(24px, 33px);
                padding: 24px 55px;
            }
        }
    }
}